<form (submit)="onRegisterSubmit()">
  <p class="hint-text">Fill in this form to create your account!</p>
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="Fullname" required="required">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="username" name="username" placeholder="Username" required="required">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="email" name="email" placeholder="Email Address" required="required">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password" required="required">
  </div>
  <div class="form-group">
    <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms &amp; Conditions</a></label>
  </div>
  <input type="submit" class="btn btn-primary btn-block" value="Sign up">
</form>